/benchmark
/cap32
/.debug
/disk
/googlebenchmark
/googletest
/obj
/printer.dat
/release
/screenshots
/tags
/test_runner
/wGui.log
debian/caprice32/
debian/caprice32.debhelper.log
debian/caprice32.postinst.debhelper
debian/caprice32.postrm.debhelper
debian/caprice32.substvars
debian/files
