/obj
/cap32
/printer.dat
/wGui.log
/tags
/.debug
/googletest
/test_runner
/disk
/screenshots
/release
.pc
debian/caprice32.debhelper.log
debian/caprice32.postinst.debhelper
debian/caprice32.postrm.debhelper
debian/caprice32.substvars
debian/caprice32/
debian/files
