Source: caprice32
Section: contrib/otherosfs
Priority: optional
Maintainer: Seb Haezebrouck <seb@zyglute.fr>
Build-Depends: debhelper (>= 9), gcc (>= 4.8), g++ (>= 4.8), libsdl1.2-dev, libfreetype6-dev, zlib1g-dev, libpng-dev, quilt
Standards-Version: 4.0.0
Homepage: https://github.com/ColinPitrat/caprice32
Vcs-Git: https://github.com/ColinPitrat/caprice32.git
Vcs-Browser: https://github.com/ColinPitrat/caprice32

Package: caprice32
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Amstrad CPC Emulator
 Amstrad CPC Emulator. Fork of the original Caprice32.
